@import '~bootstrap/scss/bootstrap.scss';

body{
    direction: rtl !important;
}

.bottom-header{
    margin-bottom: 70px;
}

.align-right {
    text-align: right;
}

.margin-button {
margin:2px
}

.left-float{
    float: left;
}

.prewiev-plan {
    height: 400px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    background-color: white;
}

.form-box {
    background-color: rgb(236, 236, 236);
    padding: 5px;
}